body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: whitesmoke;
}

button {
    border-radius: 5px;
    padding: 12px 15px;
    box-sizing: border-box;
    cursor: pointer;
    color: inherit;
    border: none;
    background-color: deepskyblue;
}

.refresh-button {
    position: absolute;
    top: 30px;
    left: 30px;
}

button:hover {
    background-color: #f0d8d9;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.team-data-wrapper {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.team-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px 0;
}

.team-data-info > div {
    margin-top: 10px;
}

.team {
    width: 500px;
    height: 40px;
    border: 2px solid deepskyblue;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team:hover {
    background-color: #f0d8d9;
    cursor: pointer;
}

.team-data-wrapper > div {
    margin-top: 5px;
}

.team-data {
    width: 500px;
    height: 40px;
    border: 2px solid deepskyblue;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-list-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 2px solid deepskyblue;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}

.match-list-wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid deepskyblue;
    font-size: 20px;
}

.match-list-wrapper > div ul li {
    list-style: none;
}

.hidden {
    display: none;
}

.loader {
    margin: 15px 15px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
